<ion-view view-title="我的">
    <ion-content class="padding">

        <div class="order_total">
            <div class="order_list" style="height:7em">
                <div class="item_title">
                    <div class="title_num" style="margin-top:.5em">
                        <span class="num">01</span>
                    </div>
                    <div class="title_member" style="margin-top:.5em">
                        <span>2015-12-21 14:13   &nbsp;&nbsp;&nbsp;    待审核</span>
                        <br>
                        <br>
                        <span>供应方 ：</span>
                        <span>苏州工厂&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;总共38份货物</span>

                    </div>
                    <div class="title_opreation" style="height:2em;line-height:2em;">
                        <div style="display:none;">
                            <a class="btn_edit icon ion-edit"> 编辑</a>
                        </div>
                        <div style="display:none;">
                            <a class="btn_edit icon ion-android-close" style="margin-top:.5em"> 撤销</a>
                        </div>
                        <div style="display:none;">
                            <a class="btn_look icon ion-android-search"> 查看</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="order_list" style="height:7em">
                <div class="item_title">
                    <div class="title_num" style="margin-top:.5em">
                        <span class="num">02</span>
                    </div>
                    <div class="title_member" style="margin-top:.5em">
                        <span>2015-12-21 14:13   &nbsp;&nbsp;&nbsp;    待审核</span>
                        <br>
                        <br>
                        <span>供应方 ：</span>
                        <span>   苏州工厂&nbsp;&nbsp;&nbsp;</span>
                        <span>&nbsp;&nbsp;&nbsp;  总共38份货物</span>

                    </div>
                    <div class="title_opreation" style="height:2em;line-height:2em;">
                        <div>
                            <a class="btn_look icon ion-android-search"> 查看</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </ion-content>
</ion-view>