<ion-view ng-controller="CoreCtrl">
  <ion-content class=" main-body stable-bg">

    <div class="row">
      <div class="col col-30  " ui-sref="reserve-shop">
        <div>
          <img src="./img/project/02.png" class="main-image" />
        </div>
        <span class="main-span">订购货品</span>
      </div>
      <div class="col col-30  " ui-sref="order-list">
        <div>
          <img src="./img/project/03.png" class="main-image" />
        </div>
        <span class="main-span">我的订单</span></div>
      <div class="col col-30   " ui-sref="notice-list">
        <div>
          <img src="./img/project/05.png" class="main-image" />
        </div>
        <span class="main-span">信息中心</span>
      </div>
    </div>


    <div class="row">
      <div class="col col-30   " ui-sref="opinion-list">
        <div>
          <img src="./img/project/04.png" class="main-image" />
        </div>
        <span class="main-span">意见反馈</span>
      </div>
      <div class="col col-30  " ng-click="change_account()">
        <div>
          <img src="./img/project/change_account.png" class="main-image" />
        </div>
        <span class="main-span">切换账号</span>
      </div>
      <div class="col col-30  " ng-click="more_function()">
        <div>
          <img src="./img/project/more.png" class="main-image" />
        </div>
        <span class="main-span">更多功能</span>
      </div>
      
    </div>


  </ion-content>
</ion-view>